# torch without CUDA support is for AMD GPUs
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
# Uncomment the following lines if you are using Nvidia GPUs
# torch==2.6.0+cu118
# torchaudio==2.6.0+cu118
# torchvision==0.21.0+cu118
numpy==1.26.4 # This is correct for this application
onnxruntime-gpu==1.15.1
onnxruntime-directml==1.16.3
opencv-python==4.7.0.72 # This is correct for this application
comtypes
customtkinter
pandas
# uncomment the following line Below if you are using Nvidia GPUs
# cupy-cuda11x
bettercam
psutil
colorama
ultralytics
PyAutoGUI
PyGetWindow
pywin32
pyyaml
tqdm
matplotlib
seaborn
requests
ipython
dxcam
onnx
onnx-simplifier
dill
serial # for serial communication
pyserial # for listing serial ports
pyarmor
# DirectML dependencies for Windows AMD GPUs
# uncomment the following lines if you are using AMD GPUs on Windows
# torch-directml
# onnxruntime-directml==1.15.1
